:root {
    --clr-blue: #D0E1EC;
    --clr-black: #1e1b18;
    --clr-darkblue: #0a2463;
}

.textclr {color: var(--clr-black);}
.blue {color: var(--clr-blue);}
.darkblue {color: var(--clr-darkblue);}

body {
    background-color: var(--clr-darkblue);
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.appname {
    letter-spacing:0.14em;
    margin-inline: auto;
    text-align: center;
    height: 60px;
    width: 700px;
    color: #f1e9da;
    padding-bottom: 0em;
    padding-top: 0.9em;
    margin-bottom: 1em;
}
p {
    font-size: 18px;
}
.questions {
    padding: 2em;
    flex-direction: column;
}
main {
    background-color: var(--clr-blue);
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    padding-bottom: 2em;
    margin-bottom: 4em;
    border-radius: 20px;
}
.question {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.question:nth-of-type(1) {
    margin-top: 0;
}
.radio-input {
    cursor: pointer;
}
label {
    font-size: 1.3em;
}
form {
    width: 90%;
    margin-inline: auto;
    text-align: center;
    margin-top: 0;
    background-color: #D0E1EC;
    border-radius: 20px;
    padding-block: 2em;
}
button {
    background-color: var(--clr-darkblue);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition-delay: 0.05s;
    height: 35px;
    width: 130px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2em;
}
button:hover {
    background-color: #FFFFFF;
    color: var(--clr-darkblue);
    border: 2px solid var(--clr-darkblue);
}
h4 {
    text-align: center;
    font-size: 30px;
}
.result-main {
    display: block;
    width: 40%;
    padding-inline: 4em;
    padding-block: 2em;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (max-width: 800px) {
    .appname {
        letter-spacing: none;
        margin-inline: auto;
        text-align: center;
        height: 50px;
        width: 500px;
    }
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .result-main {
        width: 60%;
    }
    #news-title {
        margin-inline: auto;
        width: 80%;
        font-size: 14px;
        margin-top: 20em;
    }
    .news-sec-head {
        margin-top: 2em;
        margin-inline: auto;
       
    }
    
    form {
        width: 70%;
    }
    button {
        background-color: var(--clr-darkgreen);
        color: #FFFFF;
        margin-bottom: 0.8em;
        
    }
    footer {
        height: 120px;
    }
}

@media screen and (max-width: 600px) {
    .appname {
        letter-spacing: none;
        margin-inline: auto;
        text-align: center;
        height: 80px;
        width: 400px;
        margin-bottom: 1em;
        padding-top: 1em;
    }
    
}
